@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

:root {
  font-family: 'Overpass', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.hero-section{
  background: linear-gradient(to right, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8)), url(./assets/common-bg.svg);
  background-position: center;
  height: 100vh;
  min-height: 400px;
  max-height: 600px;
}

.form-section{
  background: linear-gradient(to right, rgba(240, 240, 240, 0.8), rgba(240, 240, 240, 0.8)), url(./assets/common-bg.svg);
  background-position: center;
  height: 100%;
}


.section-title{
  position: relative;
}



.section-title::after{
  content: '';
  height: 6px;
  width: 40px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #facf0f;
  border-radius: 10px;
  margin: 0 auto;
}




}